<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ich.view.dao.AdvMapper" >

    <insert id="insert" parameterType="com.ich.view.pojo.Adv" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ich_view_adv(title,postion,postionname,image,http,onum)
        VALUES(#{title},#{postion},#{postionname},#{image},#{http},#{onum})
    </insert>

    <update id="update" parameterType="com.ich.view.pojo.Adv">
        UPDATE ich_view_adv
        SET title = #{title},postion = #{postion},postionname = #{postionname},image = #{image},http = #{http},onum = #{onum}
        WHERE id = #{id}
    </update>

    <delete id="deleteAdv" parameterType="Long">
        DELETE FROM ich_view_adv WHERE id = #{id}
    </delete>

    <select id="selectByPrimaryKey" resultType="com.ich.view.pojo.Adv" parameterType="Long">
        SELECT * FROM ich_view_adv WHERE id = #{id}
    </select>

    <select id="selectAdvByPostion" resultType="com.ich.view.pojo.Adv"  parameterType="String">
        SELECT * FROM ich_view_adv WHERE postion = #{postion} ORDER BY onum DESC
    </select>

    <select id="selectAllAdv" resultType="com.ich.view.pojo.Adv"  parameterType="String">
        SELECT * FROM ich_view_adv  ORDER BY postion ASC ,onum DESC
    </select>

</mapper>